<div>
    <h4>Example Text</h4>
    <textarea ng-model="text" rows="3" placeholder="Enter test text"></textarea>
    <br><br>
    <strong>Truncate by characters</strong>
    <label>Number of characters (will not break on a word):
        <input ng-model="numChars" type="number"/>
    </label>
    <label>Break in the middle of words <input type="checkbox" ng-model="breakOnWord"/></label>

    <h4>Output</h4>

    <div class="well text-info">
        <p>
            {{ text | truncateCharacters:numChars : breakOnWord }}
        </p>
    </div>
    <h4>Code</h4>
    <pre>{<span></span>{ text | truncateCharacters:{{ numChars }}: {{ breakOnWord }}<span></span>}</pre>

    <strong>Truncate by words</strong>
    <label>Number of words:
        <input ng-model="numWords" type="number"/>
    </label>
    <h4>Code</h4>
    <pre>{<span></span>{ text | truncateWords:{{ numWords }}:ignoreSpaces }<span></span>}</pre>

    <h4>Output</h4>

    <div class="well text-info">
        <p>
            {{ text | truncateWords:numWords }}
        </p>
    </div>
</div>